.success {
	background-color: green;
	display: block;
	padding: 5px;
	text-align: center;
	margin: 2px;
}

.notice {
	background-color: orange;
	text-align: center;
	display: block;
	padding: 5px;
	margin: 2px;
}

.failure {
	background-color: red;
	text-align: center;
	display: block;
	padding: 5px;
	margin: 2px;
}

.edit-btn:hover {
	background-color: #3e8e41;
}

.delete-btn:hover {
	background-color: #c82333;
}